.header {
}

.container {
  display: flex;
  justify-content: start;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  flex: 0 1 310px;
}

.profile {
  flex: 1 1 30%;
}

.profile a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shop {
  display: flex;
  gap: 10px;
  flex: 0 1 10%;
  justify-content: end;
}

.search {
  flex: 1 1 30%;
}

.search_container {
  background-color: var(--color-black);
  display: flex;
  max-width: 307px;
  width: 100%;
  border-radius: 6px;
  padding: 3px 10px;
  gap: 15px;
  align-items: center;
}

.search_container input {
  width: 100%;
  height: 27px;
  background-color: transparent;
  border: 0px;
  outline: none;
  color: var(--color-other-p);
}
